body {
	margin: 0px;
}

.navbar {
        position: fixed;
	width: 21.75%;
        margin-top: 50px;
	margin-left:10px;
	border-radius: 25px;
	border: 2px solid;
	height: 350px;

}

.navbar a {
        font-size: 16px;
        text-align: left;
        padding: 10px 12px;
        text-decoration: none; 
        display: block;
        border-radius:25px;
	width: 92.5%;
}

.navbar a:hover{
	background-color: #04AA6D;
	color: white;
}

.contenu {
	margin-left: 25%;
        width: 72.5%;
        margin-top: 25px;
}

.contenu h1,h2,p{
	text-align: left;
}